* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto Flex", sans-serif;
	height: 100vh;
	display: flex;
}
.col {
	flex: 1;
	max-width: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.col button {
	outline: none;
	background: transparent;
	border: none;
	font-size: 1.5rem;
	color: #fff;
	padding: 10px;
	border-radius: 10px;
	transition: background 0.3s;
}
.col button:hover {
	background: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.col h2 {
	padding: 10px;
	color: white;
	border-radius: 10px;
	transition: background 0.3s;
}
.col h2:hover {
	background: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.fa-arrows-rotate {
	visibility: hidden;
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 2rem;
}
[data-type="refresh"] {
	/* visibility: hidden; */
	background: transparent;
	transition: 0.5s all;
}
.fa-arrows-rotate:hover {
	background: rgba(0, 0, 0, 0.1);
	cursor: pointer;
	/* transform: rotate(180deg); */
}

@keyframes spinning {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.copy-info {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 85%;
	text-align: center;
	font-size: 1.5rem;
	background: rgba(255, 255, 255, 0.7);
	width: 250px;
	height: 30px;
	border-radius: 10px;
	visibility: hidden;
}
@media screen and (max-width: 600px) {
	.fa-arrows-rotate {
		visibility: visible;
		padding: 10px;
	}
	[data-type="refresh"] {
		visibility: visible;
	}
	.col {
		flex: 1;
	}
	h2 {
		font-size: 1rem;
	}
}
